<!-- client/views/view_materials.html -->
<template name="view_materials">
	
   {{> view_select_views}}


<div class="jumbotron">
    <!-- Inventory Table -->
  <h2 class="text-muted"> On-Hand Inventory </h2>
    <table class="table table-striped" id="inv">
      <thead>
        <tr>
          <th>
          Part #
          </th>
        <th>
          On-Hand Quantity
        </th>
        <th>
          Actions
        </th>
      </thead>
      <tbody>
        {{#each materials}}
        <tr>
          <td>
            {{material_number}}
          </td>
          <td>
            {{material_qty}}
          </td>
          <td>
            <input type="button" value="X" class="delete2" />
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <br><br>
</div>


<div class="jumbotron">  
    <fieldset>
    <legend>Add Raw Materials</legend>
    <form>
        <div>
            <label>
                Material Number:<br>
                <input id="material_number" />
            </label>
        </div>
        <div>
            <label>
                Quantity:<br>
                <input id="material_qty" />
            </label>
        </div>
        <div>
            <label>
                Supplier:
                <select class="form-control" id="supplier">
                    {{#each customers}}
                  <option>{{this.name}}</option>
                    {{/each}}
                </select>
            </label>
        </div>
                <div>
            <label>
                Type:
                <select class="form-control" id="type">
                  <option>Metal</option>
                  <option>Rubber</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                Comment:<br>
                <input id="comment" />
            </label>
        </div>
        <div>
            <input type="submit" value="Add Material" />
        </div>
    </form>
    </fieldset>
</div>


<div class="jumbotron">  
  <h2 class="text-muted">Inventory Log</h2>
    <table class="table table-striped" id="pageLog">
      <thead>
        <tr>
          <th>
          Material
          </th>
        <th>
          +/-
        </th>
        <th>
          Timestamp
        </th>
        <th>
          Name
        </th>
         <th>
          Supplier
        </th>
        <th>
          Type
        </th>
                <th>
          Comments
        </th>
      </thead>
      <tbody>
      	{{#each materialsLog}}
        <tr>
          <td>
            {{log_number}}
          </td>
          <td>
            {{qty_added}}
          </td>
                    <td>
            {{time}}
          </td>
                    <td>
            {{name}}
          </td>
                    <td>
            {{supplier}}
          </td>
                    <td>
            {{type}}
          </td>
                    <td>
            {{comment}}
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table><br><br>
</div>
  
</template>